.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #111;
    color: white;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: #aaa;
    font-weight: 500;
    transition: 0.3s;
    padding: 0.5rem 0.8rem;
    border-radius: 8px;
}

.nav-link:hover {
    color: white;
    background: #222;
}

.nav-link.active {
    background: #7e17d2;
    color: white;
}

.icon {
    display: flex;
}